<span class="main_block_listing">
  {% render 'store-review-listing' %}
</span>

<script></script>

{% schema %}
{
  "name": "store-review",
  "target": "body",
  "settings": [
    {
      "type": "color",
      "id": "star_color",
      "label": "Star Color",
      "default": "#ff9d2d"
    }
  ]
}
{% endschema %}
